# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Environment and OS
.env
.DS_Store
.idea/
.vscode/

# Project Specific - Local Data (Never commit portraits or videos)
students/
uploaded_videos/
stored_frames/
*.db
*.log
